@model RentVehicleFinal.Models.User

@{
    ViewBag.Title = "Delete";
}

<h2>Избриши вработен</h2>

<h3>Дали сте сигурни дека сакате да го избришете?</h3>
<div>
    <h4>Податоци за вработениот: </h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Избриши" class="btn btn-danger" style="margin: 5px; padding:10px; width: 120px" />


</div>
    }
</div>

<a href="/Users/Index" class="color-white">
    <button class="btn btn-info m-2" style="margin: 5px; padding:10px; width: 120px">
        Откажи
    </button>
