@model RentVehicleFinal.Models.VehicleType

@{
    ViewBag.Title = "Create";
}

<h2>Креирај</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Тип на возило</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">

                <input type="submit" value="ДОДАДИ" class="btn btn-success" />
                <a href="../VehicleTypes/Index">
                    <input type="button" value="Откажи" class="btn btn-info" />
                </a>
            </div>
        </div>
    </div>
}

