@model RentVehicleFinal.Models.Deal

@{
    ViewBag.Title = "Details";
}

<h2>Детали за резервацијата</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VehicleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VehicleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateFrom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTo)
        </dd>
        <dt>
            @Html.DisplayName("Вкупна цена")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>



    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        <a href="/Deals/Edit/@Model.Id" class="color-white">
            <button class="btn btn-info m-2" style="margin: 5px; padding:10px; width: 120px">
                Промени
            </button>
        </a>
    }
    <a href="/Deals/Index" class="color-white">
        <button class="btn btn-info m-2" style="margin: 5px; padding:10px; width: 120px">
            Врати се назад
        </button>
    </a>
</p>
